<div>
    <div class="cart-header">
        <h2>Your cart :</h2>
    </div>

    <div class="cartProducts-div">
        <div class="product" *ngFor="let product of shareDataService.cartProducts; let i = index">
            <img src={{url}}{{product.image}}
                onerror='this.src="https:\\us.123rf.com/450wm/pe3check/pe3check1710/pe3check171000054/88673746-aucune-image-disponible-signe-ic%C3%B4ne-internet-pour-indiquer-l-absence-d-image-jusqu-%C3%A0-ce-que-celle-ci.jpg?ver=6"'>
            <br>
            <br>
            <h3>{{product.productName}}</h3>
            <div class="a-size">
                <span class="size">
                  <span class="update-product-in-cards">
                    <button (click)="addAmountToProduct(i)" class="amount">+</button> 
                    &nbsp;
                    <span class="cart-item-amount">{{shareDataService.cartProducts[i].amount? shareDataService.cartProducts[i].amount:1}}
                    </span> 
                    &nbsp;
                    <button (click)="reduceAmountFromProduct(i)" class="amount">-</button>
                  </span>
                </span>
            </div>
            <h3>{{(product.price * product.amount).toFixed(2)}}</h3>
            <button class="deleteProduct" (click)="onDeleteCartProductClicked(product.productId)">X</button>
        </div>
    </div>

    <div class="cart-footer">
        <h2>Total : {{shareDataService.finalPrice}}</h2>
        <button mat-button class="order-btn" (click)="onOrderClicked()">Order</button>
    </div>
</div>